@import 'bootstrap-custom';

#header {}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  background-color: #2a2730;
}

.app {
  margin-bottom: 40px;
  min-height: 400px;
}

p.lead {
  color: $gray-lighter;
  margin-bottom: 40px;
}

.footer {
  padding-bottom: 20px;
}

.page-header {
  border-bottom: 2px solid $gray-light;
  border-bottom-color: $gray-light;
  border-bottom-color: rgba(125, 172, 228, .2);
}

.nav-pills {
  li.active {
    a,
    a:focus,
    a:hover {
      color: $white;
      border-bottom-color: $gray-light;
      background: transparent;
    }
    color: $white;
    border-bottom-color: $gray-light;
  }

  a {
    border-bottom: 2px solid transparent;

    &:focus,
    &:hover {
      background-color: transparent;
      border-bottom-color: $gray-light;
      border-bottom-color: rgba(125, 172, 228, .6);
    }
  }
}

.footer-links > li,
.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.footer-links > li + li {
  margin-right: 20px;
}

.footer-links > li > a,
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:focus,
.masthead-nav > li > a:hover {
  background-color: transparent;
  border-bottom-color: $gray-light;
  border-bottom-color: rgba(125, 172, 228, .6);
}

.footer-links > li > a:focus,
.footer-links > li > a:hover {
  background-color: transparent;
  text-decoration: none;
}

.footer-links > .active > a,
.footer-links > .active > a:focus,
.footer-links > .active > a:hover {
  color: $white;
  border-bottom-color: $gray-light;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:focus,
.masthead-nav > .active > a:hover {
  color: #fff;
  border-bottom-color: $gray-light;
}
@media (min-width: $screen-md-min) {
  .footer-links,
  .masthead-brand {
    float: left;
  }

  .footer-author {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*
 * Affix and center
 */
// @media (min-width: $screen-md-min) {
//   /* Handle the widths */
//   .mastfoot,
//   .masthead,
//   .mastmain {
//     width: 100%;
//     /* Must be percentage or pixels for horizontal alignment */
//   }
// }
// @media (min-width: 992px) {
//   .mastfoot,
//   .masthead,
//   .mastmain {
//     width: 700px;
//   }
// }
